          <div class="comments">
            <h4>＜コメント一覧＞</h4>
            <div class="comment" id="messages">
            <% messages.each do |message| %>
              <p>
               <% if message.comment.present?%> 
               <div class="comment-profile">
                  <div class="profil">
                    <% if @item.user.image.attached? %>
                      <%=link_to user_path(message.user.id),class:"user-icon2" do %>
                        <%= image_tag @item.user.image, class: "user-icon2" %>
                      <%end%>  
                    <% else %>
                      <%=link_to user_path(@item.user.id) ,class:"user-icon2" do %>
                        <%= image_tag "willy.png", alt: "user-icon", class: "user-icon2" %>
                      <%end%>
                    <% end %>
                  </div>
                  <div  class="name-profil">
                    <%= link_to message.user.nickname, user_path(message.user.id) ,class: "message-nickname" %>
                  </div>
                </div>  
              <div class="m-comment">
               <%= message.comment %><br/>
              </div> 
               <%end%>
              </p>
            <% end %>
            </div>
          </div>  
        
          <div class="comments2">
            <h4>＜音声コメント一覧＞</h4>
            <div class="comment2" id="messages">
            <% messages.each do |message| %>
             <p>
              
              <% if message.audiocomment.present?%>
              <div class="comment-profile">
                <div class="profil">
                    <% if @item.user.image.attached? %>
                      <%=link_to user_path(message.user.id),class:"user-icon2" do %>
                        <%= image_tag @item.user.image, class: "user-icon2" %>
                      <%end%>  
                    <% else %>
                      <%=link_to user_path(@item.user.id) ,class:"user-icon2" do %>
                        <%= image_tag "willy.png", alt: "user-icon", class: "user-icon2" %>
                      <%end%>
                    <% end %>
                  </div>
                <div  class="name-profil">
                  <%= link_to message.user.nickname, user_path(message.user.id) ,class: "message-nickname" %>
                </div>
              </div>
              <div class="auc">
                <audio src= "<%= "#{message.audiocomment}" %>" controls="">
              </div>
              <%end%> 
              

             </p>
            <% end %>
            </div>
       
          </div>