

<%=render "shared/second-header"%>
    <div class='ma'>
        <div class="sign">
          <div class="form-header">
          <h1>sign</h1>
          </div>
          <%= render 'shared/error_messages', model: @user %>
          <%= form_with model: @user, url: user_registration_path, id: 'new_user', class: 'new_user', local: true do |f| %>
      <div class="field">
        <div class="weight-bold-text">
          プロフィール画像
          <span class="indispensable">*任意</span>
        </div>
        <div class="click-upload">
          <p>
            ファイルをアップロードするにはクリックしてください
          </p>
          <%= f.file_field :image, id:"item-image" %>
        </div>
      </div>
      <div class="matome">
      <div>
      <div class="field">
        <label class="form-text">ニックネーム</label><br />
        
        <%= f.text_area :nickname,class:'new-form', autofocus: true  %>
      </div>

      <div class="field">
        <label class="form-text">Eメール</label><br />
        <%= f.email_field :email,class:'new-form' %>
      </div>
      </div>
      <div class="pass">
      <div class="field">
        <label class="form-text">パスワード</label>
        <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> 文字以上)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "off",class:'new-form' %>
      </div>

      <div class="field">
        <label class="form-text">パスワード(確認)</label><br/>
        <%= f.password_field :password_confirmation, autocomplete: "off",class:'new-form' %>
      </div>
      </div>
      </div>
      <div class="actions-s">
        <%= f.submit "Sign up",class:"log"  %>
      </div>
      
    <% end %>
           
        </div>
    
        <video autoplay muted playsinline src="/videos/sign.mp4", autoplay loop ,class="niko" ></video>    
    </div>
    <%=render "shared/second-footer"%>