
<% visiter = notification.visiter %>
<% item = notification.item %>

<div class="user-view clearfix ">
  <%= link_to user_path(notification.visiter) do %>
    <% if notification.visiter.image.attached? %>
        <%=link_to user_path(notification.visiter.id),class:"user-icon2" do %>
          <%= image_tag notification.visiter.image, class: "user-icon2" %>
        <%end%>  
    <% else %>
        <%=link_to user_path(notification.visiter.id) ,class:"user-icon2" do %>
          <%= image_tag "willy.png", alt: "user-icon", class: "user-icon2" %>
        <%end%>
    <% end %>
  <% end %>
  <%= notification_form(notification) %><span class="moderate-font"><%= " (#{time_ago_in_words(notification.created_at)} ago)" %></span>
  <br>
  <% if notification.message_id.present? %>
    <p class="moderate-font text-center" style="color: black;"><%= @message %></p>
  <% end %>
</div>