          <%if user_signed_in?%> 
          <div class="good-btn">
            <% if current_user.liked_by?(@item) %>
              <%= link_to  item_likes_path(@item), method: :delete,remote: true do %>
                <i class="fas fa-thumbs-up"></i>
                
              <%end%>  
            <% else %>
              <%= link_to  item_likes_path(@item),method: :post,remote: true do  %>
                <i class="far fa-thumbs-up"></i>
              <%end%>  
            <% end %>
          </div> 
          <%= link_to like_user_item_path(@item.id),class:"link" do %>
          <div class="item-count">
            <%= @item.likes.count%>
          </div> 
          <%end%>
          <%else %>
          <div class="heart">
            <i class="fas fa-thumbs-up"></i>
          </div>
          <div class="item-count">
            <%= @item.likes.count%>
          </div> 
          <%end%>
