<%=render "shared/header"%>
<div class='main'>
        <div class="user-item">
          <div class="user-nick">
            <h1>マイグッドレビュー一覧</h1> 
          </div>      
        </div>
        <div class="user_matome">
            <%=link_to "フォローユーザーレビュー",follow_review_user_path ,class:"follow"  %>
            <%=link_to "#{@user.nickname}のホームへ", user_path, class:"good-r" %>
          </div>
        <%if user_signed_in? && current_user.id == @user.id%>
        <div class="myrank">
           
        </div> 
        <%end%>  
        <div class='item-contents'>
          

          <h2 class='title'>Pick Up</h2>
          <div class="subtitle" >
            my good review
          </div>
          
          <ul class='item-lists'>
      
            <%@user.like_items.page(params[:page]).per(16).each do |post|%>
            
            <li class='list'>
              <%= link_to item_path(post.id),class:"link" do %>
              <div class='item-info'>
                
                <%= post.name%>
                
            </div>
              <div class='item-img-content'>
                
                <%if post.image.attached? %>
                  <%= image_tag post.image, class: "item-img"  %>
                <%else%>
                  <%= image_tag 'soundreview2.png', class: "item-img"  %>
                <%end%>  
              </div>
              <div class="profile-all">
              <div class="profile2">
                    <% if post.user.image.attached? %>
                      <%=link_to user_path(post.user.id),class:"user-icon4" do %>
                        <%= image_tag post.user.image, class: "user-icon4" %>
                      <%end%>  
                    <% else %>
                      <%=link_to user_path(post.user.id) ,class:"user-icon4" do %>
                        <%= image_tag "willy.png", alt: "user-icon", class: "user-icon4" %>
                      <%end%>
                    <% end %>
                  </div>
              <div class="item-create">
                <div class="item-user-name">
                  <%= link_to post.user.nickname, user_path(post.user.id) %>
                </div> 
                <div class="created_at" >
                    <%=post.created_at.strftime('%Y/%m/%d')%>
                </div>
              
              </div>
              <div class="good-county">
                    <i class="fas fa-thumbs-up"></i>      <%=post.likes.count%>
              </div> 
              </div>
              
              
              <% end %>
              
            </li>
          
            <% end %>
            <%= paginate @user.page(params[:page]).per(16) %>
          </ul>
          
          
        </div> 
        <%= link_to new_item_path, class: 'item-btn' do %>
        <span class='item-btn-text'>Post Review</span>
        <%= image_tag 'icon_camera.png' , size: '79x50' ,class: "item-btn-icon" %>
        <% end %> 
          
</div>




 <%= render "shared/footer" %>