<%=render "shared/header"%>
<div class='main'>
        <div class="user-item">
          <div class="user-nick">
            <%="#{@user.nickname}のホーム" %> 
          </div>  
          <div class="follow">
          　<%= render "follow_form" %>
             
            <p class="follow-count">
              <%= link_to "#{@user.followers.count} #{User.human_attribute_name("フォロー")}", followings_user_path %> <%= link_to "#{@user.followings.count} #{User.human_attribute_name("フォロワー")}", followers_user_path %>
            </p> 
          </div>     
        </div>
        <div class="user_matome">
            <%=link_to "フォローユーザーレビュー",follow_review_user_path ,class:"follow"  %>
            <%=link_to "いいねしたレビュー", good_review_user_path, class:"good-r" %>
        </div>
        <%if user_signed_in? && current_user.id == @user.id%>
        <div class="myrank">
           
        </div> 
        <%end%>  
        <div class='item-contents'>
          <h2 class='title'>Pick Up</h2>
          <div class="subtitle" >
            user reviews
          </div>
          <ul class='item-lists'>
      
            <%@user.items.page(params[:page]).per(16).each do |item|%>
            <li class='list'>
              <%= link_to item_path(item.id),class:"link" do %>
              <div class='item-img-content'>
                
                <%if item.image.attached? %>
                  <%= image_tag item.image, class: "item-img"  %>
                <%else%>
                  <%= image_tag 'soundreview2.png', class: "item-img"  %>
                <%end%>  
              </div>
              <div class='item-info'>
                
                <%= item.name%>
                
              </div>
              
              
              <% end %>
            </li>
            
            <%end%>
            <%= paginate @user.items.page(params[:page]).per(16) %>
          </ul>
         
        </div> 
        <%= link_to new_item_path, class: 'item-btn' do %>
        <span class='item-btn-text'>Post Review</span>
        <%= image_tag 'icon_camera.png' , size: '79x50' ,class: "item-btn-icon" %>
        <% end %> 
          
</div>




 <%= render "shared/footer" %>