

<%=render "shared/second-header"%>
    <div class='ma'>
        <div class="sign">
          <div class="form-header">
          <h1>log in</h1>
          </div>
          <%= render 'shared/error_messages', model: @user %>
          <%= form_with model: @user, url: user_session_path, id: 'new_user', class: 'new_user', local: true do |f| %>
      <div class="field">
        <label class="form-text">Eメール</label><br />
        <%= f.email_field :email, autofocus: true ,class: "new-form"  %>
      </div>

      <div class="field">
        <label class="form-text">パスワード</label><br />
        <%= f.password_field :password, autocomplete: "off",class: "new-form"  %>
      </div>

      <div class="actions">
        <%= f.submit "Sign up",class:"log"  %>
      </div>
    <% end %>
           
        </div>
    
        <video autoplay muted playsinline src="/videos/sign.mp4", autoplay loop ,class="niko" ></video>    
    </div>
    <%=render "shared/second-footer"%>
