<%=render "shared/header"%>
<% if @category=="2" %>
<div class='main'>
        <div class="category-movie">
          <h1>Category</h1>
          <div class="category">
            <%= link_to "映画", "/items/category/2" ,class:"category-name"%>
          </div>     
        </div>
        <div class='item-contents'>
          <h2 class='title'>Pick Up</h2>
          <div class="subtitle" >
            movie reviews
          </div>
          <ul class='item-lists'>
      
           <%= item_lists(@movie) %>
          </ul>
          <%= paginate @movie %>
          
        </div> 
          
</div>
 <% end %>
<% if @category=="3" %>
<div class='main'>
        <div class="category-anime">
          <h1>Category</h1>
          <div class="category">
            <%= link_to "アニメ", "/items/category/3" ,class:"category-name"%>
          </div>     
        </div>
        <div class='item-contents'>
          <h2 class='title'>Pick Up</h2>
          <div class="subtitle" >
            anime reviews
          </div>
          <ul class='item-lists'>
            <%= item_lists(@anime) %>
          </ul>
          <%= paginate @anime %>
          
        </div> 
          
</div>
 <%end%>
<% if @category=="4" %>
<div class='main'>
        <div class="category-music">
          <h1>Category</h1>
          <div class="category">
            <%= link_to "音楽", "/items/category/4" ,class:"category-name"%>
          </div>     
        </div>
        <div class='item-contents'>
          <h2 class='title'>Pick Up</h2>
          <div class="subtitle" >
            music reviews
          </div>
          <ul class='item-lists'>
      
            <%= item_lists(@music) %>
          </ul>
          <%= paginate @music %>
          
        </div> 
          
</div>
 <%end%>
<% if @category=="5" %>
<div class='main'>
        <div class="category-book">
          <h1>Category</h1>
          <div class="category">
            <%= link_to "本", "/items/category/5" ,class:"category-name"%>
          </div>     
        </div>
        <div class='item-contents'>
          <h2 class='title'>Pick Up</h2>
          <div class="subtitle" >
          book reviews
          </div>
          <ul class='item-lists'>
            <%= item_lists(@book) %>
          </ul>
          <%= paginate @book %>
          
        </div> 
          
</div>
 <%end%>
<% if @category=="6" %>
<div class='main'>
        <div class="category-other">
          <h1>Category</h1>
          <div class="category">
            <%= link_to "その他", "/items/category/6" ,class:"category-name"%>
          </div>     
        </div>
        <div class='item-contents'>
          <h2 class='title'>Pick Up</h2>
          <div class="subtitle" >
          other reviews
          </div>
          <ul class='item-lists'>
            <%= item_lists(@other) %>
          </ul>
          <%= paginate @other %>
          
        </div> 
          
</div>
 <%end%>



 <%= render "shared/footer" %>