    
    <%=render "shared/header"%>
    <div class='main'>
      <div class="main-class">
        <div class="categories">
          <h1>Category</h1>
          <div class="category">
            <%= link_to "映画", "/items/category/2" ,class:"category-name"%>
          </div>  
          <div class="category">
            <%= link_to "アニメ", "/items/category/3" ,class:"category-name"%>
          </div>  
          <div class="category">
            <%= link_to "音楽", "/items/category/4",class:"category-name" %>
          </div>  
          <div class="category">
            <%= link_to "本", "/items/category/5",class:"category-name" %>
          </div>  
          <div class="category">
            <%= link_to "その他", "/items/category/6" ,class:"category-name"%>
          </div> 
           
        </div>
    
        <video autoplay muted playsinline src="/videos/sound1.mp4",playsinline autoplay loop ></video>
      </div>
        <div class='item-contents'>
          <h2 class='title'>Pick Up</h2>
          <div class="subtitle" >
            new reviews
          </div>
          <ul class='item-lists'>
      
            <%@items.each do |item|%>
            <li class='list'>
              <%= link_to item_path(item.id),class:"link" do %>
              <div class='item-info'>
                
                <%= item.name%>
                
                
              </div>
              <div class='item-img-content'>
                
                <%if item.image.attached? %>
                  <%= image_tag item.image, class: "item-img"  %>
                <%else%>
                  <%= image_tag 'soundreview2.png', class: "item-img"  %>
                <%end%> 
                 
              </div>
              <div class="profile-all">
              <div class="profile2">
                <% if item.user.image.attached? %>
                  <%=link_to user_path(item.user.id),class:"user-icon4" do %>
                    <%= image_tag item.user.image, class: "user-icon4" %>
                  <%end%>  
                <% else %>
                  <%=link_to user_path(item.user.id) ,class:"user-icon4" do %>
                    <%= image_tag "willy.png", alt: "user-icon", class: "user-icon4" %>
                  <%end%>
                <% end %>
                
              </div>
              <div class="item-create">
                <div class="item-user-name">
                  <%= link_to item.user.nickname, user_path(item.user.id) %>
                </div> 
                <div class="created_at" >
                    <%=item.created_at.strftime('%Y/%m/%d')%>
                </div>
                
              
              </div>
              <div class="good-county">
                    <i class="fas fa-thumbs-up"></i>      <%=item.likes.count%>
              </div> 
              
              <% end %>
            </li>
            <%end%>
          </ul>
          
          
        </div> 


        
      <%= link_to new_item_path, class: 'item-btn' do %>
      <span class='item-btn-text'>Post Review</span>
      <%= image_tag 'icon_camera.png' , size: '79x50' ,class: "item-btn-icon" %>
      <% end %>     
    </div>
      
    
    <%= render "shared/footer" %>

    
   