<%=render "shared/header"%>
<div class='main'>
        <div class="user-lists">
          <h1>レビューにいいねしたユーザー</h1>   
        </div>
        <div class='item-contents'>
          <h2 class='title'>Pick Up</h2>
          <div class="subtitle" >
            user list
          </div>

       
          <ul class='item-lists'>
      
            <%@item.like_users.each do |user|%>
            <div class="comment-profile">
                <div class="profile">
                <% if user.image.attached? %>
                  <%=link_to user_path(user.id),class:"user-icon4" do %>
                    <%= image_tag user.image, class: "user-icon4" %>
                  <%end%>  
                <% else %>
                  <%=link_to user_path(user.id) ,class:"user-icon4" do %>
                    <%= image_tag "willy.png", alt: "user-icon", class: "user-icon4" %>
                  <%end%>
                <% end %>
              </div>
                <div  class="name-file">
                  <%= link_to user.nickname, user_path(user.id) ,class: "message-nickname" %>
                </div>
               
            </div>
            <%end%>
          </ul>
          
          
         
          
        </div> 
          
</div>

<%=render "shared/footer"%>