
    <%= render "shared/header" %>
    
    <div class="item-show">

      <div class="item-box">
        <div class="item-profile">

         <div class="show-category"> 
           <span>Category</span>
           <%= @item.category.name %>
         </div>
        
       </div> 
        <h2 class="name">
          <%= @item.name %>
        </h2>
        
        <div class="item-content">
          <div class="item-img-content">
            <%if @item.image.attached? %>
              <%= image_tag @item.image, class: "item-box-img"  %>
            <%else%>
              <%= image_tag 'soundreview2.png', class: "item-box-img"  %>
            <%end%>
          </div>
        </div> 
       
        <div class="item-user">
            
            <div class="profile">
              <% if @item.user.image.attached? %>
                <%= image_tag @item.user.image, class: "user-icon" %>
              <% else %>
                <%= image_tag "willy.png", alt: "user-icon", class: "user-icon" %>
              <% end %>
            </div>
            
            <div class="item-user-name">
              <%= @item.user.nickname %>
            </div> <br/>
            
            <%= link_to "#{@item.user.nickname}さんの他の投稿へ", user_path(@item.user.id),class: "user-profile" %>
            <div class="good" id="like-link-<%= @item.id %> ">
          
              <%= render partial: 'likes/like', locals: { item: @item} %>
         
            </div> 
        </div> 
          
       
        <div class="item-price-box">
          <audio src= "<%= "#{@item.audio}" %>" controls="">
                  
          </audio>
          
        </div>
        <%if @item.text.present?%>
        <table class="detail-table">
          <tbody>
            <tr>
              <th class="detail-item">テキストレビュー</th>
              <td class="detail-value detail-text" id="text"><%= @item.text %></td>
            </tr>
          </tbody>

        </table>
       
        <%end%>
         
        <%if @item.url.present?%>
        <div class="url">
          外部URL<br/>
          <div class="item-urll">
            <%=link_to "関連サイトへ", @item.url %>
          </div>  
        </div>
        <%end%>
        
      
        
        <%if user_signed_in?%>
        <%if current_user.id==@item.user_id %>
        <div class="edit-btn">
          <div class="edit">
            <%= link_to "レビューの編集", edit_item_path, method: :get, class: "item-red-btn" %>
          </div>  
          <div class="delete">
            <%= link_to "削除", item_path, method: :delete, class:"item-destroy" %>
          </div>
        </div>  
        <%end%>
        <%end%>
       
        
        
      </div>
      
      
      <div class="comment-box">
        
        
        <% if user_signed_in? %>
        <h2 class="items-sell-title">コメントを入力</h2>
          <%= form_with model:[@item,@message], local: true do |f| %>
          <div class="comment-explain">
            <div class="weight-bold-comment">
              ・文字コメント
            </div>
            <%= f.text_area :comment, class:"items-comment", id:"comment-info"%>
            <div class="weight-comment">
              ・音声コメント
            </div>
            <%= f.file_field :audiocomment , class:"sound-comment" %>
          </div>
          <div class="sell-btn-contents">
            <%= f.submit "投稿する" ,class:"comment-btn" %>
          </div>
          <%end%>
        <% else %>
          <strong><p>※ コメントの投稿には新規登録/ログインが必要です </p></strong>
        <% end %>
        <tbody id="message">
           <%= render 'items/comment', messages: @messages %>
          
        </td>

      <%if @item.category.name== "映画" %>
        <%= link_to "#{@item.category.name}をもっと見る", "/items/category/2" ,class: "another-item" %>
      <%elsif @item.category.name== "アニメ" %>
        <%= link_to "#{@item.category.name}をもっと見る", "/items/category/3" ,class: "another-item" %>
      <%elsif @item.category.name== "音楽" %>
        <%= link_to "#{@item.category.name}をもっと見る", "/items/category/4" ,class: "another-item" %>
      <%elsif @item.category.name== "本" %>
        <%= link_to "#{@item.category.name}をもっと見る", "/items/category/5" ,class: "another-item" %>
      <%elsif @item.category.name== "その他" %>
        <%= link_to "#{@item.category.name}をもっと見る", "/items/category/6" ,class: "another-item" %>  
      <%end%>    
    </div>
  <%= render "shared/footer" %>