
    <%= render "shared/header" %>
    
    <div class="item-show">

      <div class="item-box">
        <div class="item-profile">

         <div class="show-category"> 
           <span>Category</span>
           <%= @item.category.name %>
         </div>
       </div> 
        <h2 class="name">
          <%= @item.name %>
        </h2>
        <div class="item-content">
          <div class="item-img-content">
            <%if @item.image.attached? %>
              <%= image_tag @item.image, class: "item-box-img"  %>
            <%else%>
              <%= image_tag 'soundreview2.png', class: "item-box-img"  %>
            <%end%>
          </div>
        </div>  
        <div class="item-user">
            <div class="revier">Reviewer:</div>
            <div class="profile">
              <% if @item.user.image.attached? %>
                <%= image_tag @item.user.image, class: "user-icon" %>
              <% else %>
                <%= image_tag "willy.jpeg", alt: "user-icon", class: "user-icon" %>
              <% end %>
            </div>
            
            <div class="item-user-name">
              <%= @item.user.nickname %>
            </div>
        </div> 
        <div class="item-price-box">
          <audio src= "<%= "#{@item.audio}" %>" controls="">
                  
          </audio>
          
        </div>
        <%if @item.text.present?%>
        <table class="detail-table">
          <tbody>
            <tr>
              <th class="detail-item">テキストレビュー</th>
              <td class="detail-value detail-text" id="text"><%= @item.text %></td>
            </tr>
          </tbody>

        </table>
        <div class="sound-text">
        テキストレビューの読み上げ
        </div>
        <div class="text-sound">
          <button id="speak-btn">再生</button>
          <button id="pause-btn">一時停止</button>
          <button id="resume-btn">再開</button>
        </div>
  <script>
    const text      = document.querySelector('#text')
    const speakBtn  = document.querySelector('#speak-btn')
    const pauseBtn  = document.querySelector('#pause-btn')
    const resumeBtn = document.querySelector('#resume-btn')
  
    speakBtn.addEventListener('click', function() {
      const speak_value = "<%= @item.text %>";
      console.log("test")
      const uttr = new SpeechSynthesisUtterance(speak_value)
      speechSynthesis.speak(uttr)
    })
    pauseBtn.addEventListener('click', function() {
      speechSynthesis.pause()
    })
    resumeBtn.addEventListener('click', function() {
      speechSynthesis.resume()
    })
  </script>
        <%end%>

        <%= render "shows" %>
       
        
        
      </div>
      
      
      <%= render "showw" %>
      

     


      <%= render "shared/footer" %>